In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [45]:
#1) Load the provided dataset and import in pandas DataFrame.

df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
#2) Check info of the DataFrame and identify following:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [47]:
#Problem 1
#1) Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
#head of the result.

fare = df[["Fare"]]
fare.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [48]:
#2)Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
#dataset, in that order. Print the head of the result.

class_age = df[["Pclass", "Age"]]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [49]:
#3) Create a DataFrame called survived gender that contains the Survived and Sex columns of the
#Titanic dataset, in that order.Print the head of the result.

survived_gender = df[["Survived", "Sex"]]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [50]:
#Problem 2:
#Subsetting Rows:
#1) Filter the Titanic dataset for cases where the passengers fare is greater than 100, assigning it
#to fare gt 100.View the printed result.

df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')

fare_gt_100 = df[df["Fare"] > 100]
print("Passengers with Fare > 100:")
fare_gt_100.head()

Passengers with Fare > 100:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C

In [51]:
#2) Filter the Titanic dataset for cases where the passengers class (Pclass) is 1, assigning it to
#first class.View the printed result.

first_class = df[df["Pclass"] == 1]
print("First Class Passengers:")
first_class.head()

First Class Passengers:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [52]:
#3)Filter the Titanic dataset for cases where the passengers age is less than 18 and the passenger
#is female (Sex is "female"), assigning it to female under 18. View the printed result.

female_under_18 = df[(df["Age"] < 18) & (df["Sex"] == "female")]
print("Female Passengers Under 18:")
female_under_18.head()

Female Passengers Under 18:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

In [53]:
#Subsetting Rows by Categorical variables:
#1) Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
#(Southampton), assigning the result to embarked c or s. View the printed result.

embarked_c_or_s = df[df["Embarked"].isin(["C", "S"])]
print("Passengers Embarked from C or S:")
embarked_c_or_s.head()

Passengers Embarked from C or S:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
#2) Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
# or second class), assigning the result to first second class.View the printed result.

first_second_class = df[df["Pclass"].isin([1, 2])]
print("Passengers in First or Second Class:")
first_second_class.head()

Passengers in First or Second Class:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [55]:
#Exploratory Data Analysis Practice Exercise
#Which passenger had the highest fare paid relative to their age?
#1) Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
#the passenger(i.e., Fare/Age).

df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')

# 1. Fill missing Age values with the median age
median_age = df["Age"].median()
df["Age"] = df["Age"].fillna(median_age)

# 1. Add fare_per_year column (Fare divided by Age)
df["fare_per_year"] = df["Fare"] / df["Age"]
df[["Fare", "Age", "fare_per_year"]].head()

      Fare   Age  fare_per_year
0   7.2500  22.0       0.329545
1  71.2833  38.0       1.875876
2   7.9250  26.0       0.304808
3  53.1000  35.0       1.517143
4   8.0500  35.0       0.230000

In [56]:
#2) Subset rows where fare per year is higher than 5, assigning this to high fare age.

high_fare_age = df[df["fare_per_year"] > 5]
high_fare_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,28.0,1,0,PC 17569,146.5208,B78,C,5.232886
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733

In [57]:
#3) Sort high fare age by descending fare per year, assigning this to high fare age srt.

high_fare_age_srt = high_fare_age.sort_values(by="fare_per_year", ascending=False)
high_fare_age_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000

In [58]:
#4)Select only the Name and fare per year columns of high fare age srt and save the result as result.

result = high_fare_age_srt[["Name", "fare_per_year"]]
result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [59]:
#5) Look at the result.

print(result.head(20))

                                  Name  fare_per_year
305     Allison, Master. Hudson Trevor     164.728261
297       Allison, Miss. Helen Loraine      75.775000
386    Goodwin, Master. Sidney Leonard      46.900000
164       Panula, Master. Eino Viljami      39.687500
183          Becker, Master. Richard F      39.000000
827              Mallet, Master. Andre      37.004200
78       Caldwell, Master. Alden Gates      34.939759
644             Baclini, Miss. Eugenie      25.677733
469      Baclini, Miss. Helene Barbara      25.677733
831    Richards, Master. George Sibley      22.590361
755          Hamalainen, Master. Viljo      21.641791
788         Dean, Master. Bertram Vere      20.575000
445          Dodge, Master. Washington      20.464575
803    Thomas, Master. Assad Alexander      20.277857
824       Panula, Master. Urho Abraham      19.843750
381        Nakid, Miss. Maria ("Mary")      15.741700
119  Andersson, Miss. Ellis Anna Maria      15.637500
737             Lesurer, Mr. Gustave J      14.637977
258                   Ward, Miss. Anna      14.637977
311         Ryerson, Miss. Emily Borie      14.576389

In [60]:
#Which adult male passenger (age  18 and Sex is male) paid the highest fare relative to their
#class?

df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')

#1) Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
#class i.e. Fare / Pclass.

df["fare_per_class"] = df["Fare"] / df["Pclass"]
df[["Fare", "Pclass", "fare_per_class"]].head()

      Fare  Pclass  fare_per_class
0   7.2500       3        2.416667
1  71.2833       1       71.283300
2   7.9250       3        2.641667
3  53.1000       1       53.100000
4   8.0500       3        2.683333

In [61]:
#2) Subset rows where the passenger is male (Sex is male) and an adult (Age is greater than or equal
# to 18), assigning this to adult males.

adult_males = df[(df["Sex"] == "male") & (df["Age"] >= 18)]
adult_males.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.683333
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,2.683333
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,10.425000

In [62]:
#3) Sort adult males by descending fare per class, assigning this to adult males srt.

adult_males_srt = adult_males.sort_values(by="fare_per_class", ascending=False)
adult_males_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_class
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,512.3292
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,263.0000
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,263.0000
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,247.5208

In [63]:
#4) Select only the Name, Age, and fare per class columns of adult males sr and save the result
# as result.

result = adult_males_srt[["Name", "Age", "fare_per_class"]]
result.head()

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [64]:
#5) Look at the result.

print(result.head(20))

                                           Name   Age  fare_per_class
737                      Lesurer, Mr. Gustave J  35.0        512.3292
679          Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                           Fortune, Mr. Mark  64.0        263.0000
27               Fortune, Mr. Charles Alexander  19.0        263.0000
118                    Baxter, Mr. Quigg Edmond  24.0        247.5208
377                   Widener, Mr. Harry Elkins  27.0        211.5000
332                   Graham, Mr. George Edward  38.0        153.4625
373                         Ringhini, Mr. Sante  22.0        135.6333
660               Frauenthal, Dr. Henry William  50.0        133.6500
390                  Carter, Mr. William Ernest  36.0        120.0000
659                  Newell, Mr. Arthur Webster  58.0        113.2750
698                    Thayer, Mr. John Borland  49.0        110.8833
505  Penasco y Castellana, Mr. Victor de Satode  18.0        108.9000
544                  Douglas, Mr. Walter Donald  50.0        106.4250
484                     Bishop, Mr. Dickinson H  25.0         91.0792
224                Hoyt, Mr. Frederick Maxfield  38.0         90.0000
245                 Minahan, Dr. William Edward  44.0         90.0000
453                    Goldenberg, Mr. Samuel L  49.0         89.1042
62                  Harris, Mr. Henry Birkhardt  45.0         83.4750
34                      Meyer, Mr. Edgar Joseph  28.0         82.1708

In [68]:
#Exploratory Data Analysis with Group-by Method Practice Exercise:

#What percent of the total fare revenue came from each passenger class?
#To answer the question perform following operation:

df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')

#1) Calculate the total Fare paid across all passengers in the Titanic dataset.
#2) Subset for passengers in first class (Pclass is 1) and calculate their total fare.
#4) Combine the fare totals from first, second, and third classes into a list.
#5) Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

# 1. Calculate total fare
total_fare = df["Fare"].sum()

# 2. Total fare for First Class (Pclass = 1)
first_class_fare = df[df["Pclass"] == 1]["Fare"].sum()

# 3. Total fare for Second Class (Pclass = 2)
second_class_fare = df[df["Pclass"] == 2]["Fare"].sum()

# 4. Total fare for Third Class (Pclass = 3)
third_class_fare = df[df["Pclass"] == 3]["Fare"].sum()

# Combine into a list
fare_totals = [first_class_fare, second_class_fare, third_class_fare]

# 5. Calculate proportion (percent) by dividing by total fare
fare_percent = [(fare / total_fare) * 100 for fare in fare_totals]

# Print results clearly
print("Total Fare Revenue:", total_fare)
print("\nFare Revenue by Class:")
print(f"First Class:  {fare_percent[0]:.2f}%")
print(f"Second Class: {fare_percent[1]:.2f}%")
print(f"Third Class:  {fare_percent[2]:.2f}%")

Total Fare Revenue: 28693.9493

Fare Revenue by Class:
First Class:  63.35%
Second Class: 13.25%
Third Class:  23.40%

In [71]:
#What percent of the total number of passengers on the Titanic belonged to each age group
# (e.g., child, adult, senior)?
#To answer the question perform following operation:

df = pd.read_csv('/content/drive/MyDrive/Dataset/Titanic-Dataset.csv')

#1) Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
#18{64), and "senior" (age 65 and above).
#2) Calculate the total number of passengers on the Titanic.
#3) Count the number of passengers in each age group.
#4) Divide the count of each age group by the total number of passengers to get the proportion of passengers
#   in each age group.
#5) Display the proportion as a percentage.

# 1. Create age group column
def classify_age(age):
    if age < 18:
        return "child"
    elif 18 <= age < 65:
        return "adult"
    else:
        return "senior"

df["age_group"] = df["Age"].apply(classify_age)

# 2. Total number of passengers
total_passengers = len(df)

# 3. Count number of passengers in each age group
group_counts = df["age_group"].value_counts()

# 4. Calculate proportions (as percentages)
group_percent = (group_counts / total_passengers) * 100

# 5. Display results
print("Percentage of Passengers by Age Group:\n")
print(group_percent)

Percentage of Passengers by Age Group:

age_group
adult     66.217733
senior    21.099888
child     12.682379
Name: count, dtype: float64